body { max-width: 1024px; overflow-x: hidden;}





/* ----------------------------------------------------------------------------------------->>>>>> Display None */

.fcenter .flogo { display: none;}



/* ----------------------------------------------------------------------------------------->>>>>> Display Block */



/* ----------------------------------------------------------------------------------------->>>>>> Width 100%; */

#topbarcenter, #headercenter, #portfolio-one, #portfolio-two, #portfolio-three, #portfolio-three .item, #portfolio-three .pthreecontent h3, #portfolio-three .pthreecontent p,

#portfolio-four { width: 100%;}





#logo { margin-left: 20px;}

#socialmedia {margin-right: 20px;}

.generalheadline h3 { margin-left: 20px;}

#wrap {

	max-width: 100%;

	margin-top: 40px;

}



#content {width: 62%;}

.post .postcontent {

	width: 77%;

	height: auto;

	float: left;

	position: relative;

	padding: 15px;

	border: 1px solid #ededed;

}



#generalnavi {

	width: 96%;

	margin-left: 2%;

}



.postcalign { width: 60% !important; }



.post .postcontent .thumbleft, .post .postcontent .thumbright {

	width: 30%;

	height: auto;

}





.postfull .postcalign {

	width: 52% !important;

	height: auto;

}



#posttwofull, .posttwohalfwrap {

	width: 98%;

	margin-left: 2%;

}



.posttwofull {

	width: 44.2%;

	margin: 20px 2.5% 20px 0px;

}



.posttwofull .readmore { margin: 25px 0px 0px 37%; }



.posttwohalfwrap .posttwofull {

	width: 31%;

}



.posttwohalfwrap .readmore { margin-left: 27% !important; }



.singledetails {height: 120px;}



.singledetails .postdetails {

	width: 100% !important;

	float: none;

}



.singledetails .socialshare {

	width: auto!important;

	float: none;

}



.singleaboutauthor .abouttext {

	width: 78%;

	height: auto;

	float: left;

	margin: 10px 0px 0px 40px;

}



.singleaboutauthor {height: auto; overflow: hidden;}



.singlepostrelated { width: 100%; overflow: hidden; padding-bottom: 10px;}



.singlepostrelated .item { width: 19% !important; }

.singlepostrelated .item .hover { width: 100% !important; }



.commnav {

	width: 142px;

	height: 66px;

	display: block;

	color: #5395cf;

	float: none;

}



.commentscount .counter {

	width: 590px;

	height: 36px;

	float: left;

	font-size: 19px;

	font-weight: 700;

	color: #5d6b75;

}



.commentscount {

	width: 100%;

	height: 102px;

	display: block;

	line-height: 66px;

}



.portfoliohead {

	width: 96%;

	margin: 30px 0px 0px 2%;

}





#featurestwo .featcenter {

	width: 96%;

	margin-left: 2%;

	max-height: 300px;

	margin: 0px auto;

}



#featurestwo .feat {

	width: 30%; 

	height: auto;

	float: left;

}



#featurestwo .featcontent {

	width: 72%;

	float: left;

	margin-left: 20px;

}



#pricetables {

	width: 96%;

	margin-left: 2%;

}



#pricetables .table {width: 30%;}



#featuresthree, #featuresfour { 

	width: 97%;

	margin-left: 2%;

}



#featuresthree .feat, #featuresone .feat {

	width: 23%;

	margin-right: 2%;

}



#featuresthree .feat ul li {margin-bottom: 5px;}



.toggle {

	width: 48% !important;

	margin-left: 2%;

}



.toggle-content {width: 93.6%;}



.toggle-title h3 {width: 70%;}



#headeradsmall, #headeradbig {

	float: right;

	margin: 50px 10px 0 0px;

}



#topslider .slide {

	min-width: 30% !important;

	max-width: 70% !important;

}



#featuresfour .item {

	width: 30.5%;

	margin-right: 2%;

}



#featuresfour .center { margin: 0px 2% 0px 0px;}



.textboxone {

	width: 47%;

	height:auto;

	float: left;

	margin-left: 40px;

}



.textboxtwo {

	width: 37%;

	height: auto;

	float: left;

	margin: 20px 1% 0px 2%;

}



.error-search { margin: 0px 0px 50px 35%; }



.erroror {

	width: 100%;

}



.newsletterpagewidget {

	margin: 20px 0px 40px 15%;

	float: left;

}



.comins-text {

	width: 45%;

	margin: 80px 0px 40px 55px;

}



#contactform {

	width: 60%;

	margin-left: 2%;

	overflow: hidden;

}



#contactform .item { width: 100%; }



#contactform .item input, #contactform textarea {width: 80% !important;}



#address {

	width: 35%;

	min-height: 220px;

	float: left;

	font-size: 28px;

	margin: 110px 0px 45px 3%;

}



#contact-map {

	width: 61%;

	margin-left: 2%;

}



.twohalf {

	width: 46%;

	margin-right: 2%;

}



.threequarter {

	width: 31%;

	margin-right: 2%;

}



.fourquarter, .imglistv {

	width: 23%;

	margin-right: 2%;

}



.threefourth {

	width: 75%;

	float: left;

}



.imglisth article {width: 68%;}



.imgframetwo { width: 100%;}



#portfolio-one .item {

	width: 23%;

	margin-left: 1.5%;

	margin-right: 0px;

}



#portfolio-two .item {

	width: 30.5%;

	margin-left: 2%;

	margin-right: 0px;

	height: 230px;

}



#portfolio-one .item .imghover, #portfolio-two .item .imghover {

	width: 100%;

}





#portfolio-two .item .imghover .plink {

	width: 100%;

	height: 140px;

}



#portfolio-three .img {

	width: 33%;

	height: 276px;

	margin-left: 2%;

	float: left;

	overflow: hidden;

}



#portfolio-three .pthreecontent {

	width: 60%;

}



#portfolio-four .item {

	width: 47%;

	margin-left: 2%;

	margin-right: 0px;

}



#portfolio-four .title a:hover {

	color: #5395cf;

	background: url(images/pfourarr.png) no-repeat 99% center;

}



#portfolio-slider {

	width: 100%;

	height: 500px;

}



#portfolio-slider .slide {

	width: 100%;

	height: 500px;

}



.portfoliorelated {

	width: 100% !important;

	margin-top: 0px !important;

	margin-bottom: 50px;

	margin-left: 2%;

	overflow: hidden;

}



.portfoliorelated .item {

	width: 22.2%;

	margin-left: 0px;

	margin-right: 2% !important;

}



.portfoliorelated .item .hover { width: 100%;}

.fcenter {
	padding-top: 1px;
}


.fcenter{
	width: 100%;
}

.footer-top nav{
	width: 215px;
}
